html, body{height:100%;}
body {
	margin:0;
	color:#353535;
	font:14px/22px "Roboto", Arial, Helvetica, sans-serif;
	background:#fff;
	min-width:1100px;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:none;
}
img {border-style:none;}
a {
	text-decoration:underline;
	color:#83af22;
	outline:none !important;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
a:hover {text-decoration:none;}
a:active {background-color: transparent;}
input,
textarea,c
select {
	outline:none;
	font:100% "Roboto", Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#353535;
	outline:none !important;
	box-shadow:0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow:0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow:0 0 0 rgba(0, 0, 0, 0);
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
header, footer, article, section, nav, figure, aside { display: block; }
figure { margin:0; padding:0; }
::-moz-placeholder {
	color:#353535;
	opacity:1;
}
input::-webkit-input-placeholder {color:#353535;}
input::-ms-input-placeholder {color:#353535;}
input::-o-input-placeholder {color:#353535;}
input[type=submit]:hover{cursor:pointer;}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea{-webkit-appearance:none;}
textarea,
input[type=submit],
input[type=text]{-webkit-border-radius:0;}
#wrapper{
	overflow:hidden;
	position:relative;
	width:100%;
}
.wrapper-holder{
	margin:0 auto;
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	max-width:1100px;
}
#header:after{
	clear:both;
	display:block;
	content:"";
}
#header{
	-webkit-transition:box-shadow,background, opacity .5s ease-in-out;
	-moz-transition:box-shadow,background, opacity .5s ease-in-out;
	-ms-transition:box-shadow,background, opacity .5s ease-in-out;
	-o-transition:box-shadow,background, opacity .5s ease-in-out;
	transition:box-shadow,background, opacity .5s ease-in-out;
	z-index:10;
	position:fixed;
	top:0;
	left:50%;
	width:1100px;
	margin-left:-550px;
	background:rgba(210, 209, 208, 1);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.0);
}
#header.fix:hover{opacity:1;}
#header.fix{
	opacity:0.9;
	top:0;
	position:fixed;
	z-index:100;
	left:50%;
	width:1100px;
	margin:0 0 0 -550px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
#nav .opener{
	display:none;
	text-indent:-9999px;	overflow:hidden;
	width:36px;
	height:30px;
}
#nav  .opener span {
	display: block;
	position: absolute;
	height: 6px;
	width: 50%;
	background: #3e3e3e;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#nav > .opener span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}
#nav > .opener span:nth-child(odd) {
	left:0px;
	border-radius: 9px 0 0 9px;
}
#nav > .opener span:nth-child(1), #nav > .opener span:nth-child(2) {top: 0px;}
#nav > .opener span:nth-child(3), #nav > .opener span:nth-child(4) {top: 11px;}
#nav > .opener span:nth-child(5), #nav > .opener span:nth-child(6) {top: 22px;}
#nav.active > .opener span:nth-child(1), #nav.active > .opener span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#nav.active > .opener span:nth-child(2), #nav.active > .opener span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#nav.active > .opener span:nth-child(1) {
	left: 4px;
	top: 8px;
}
#nav.active > .opener span:nth-child(2) {
	left: calc(50% - 5px);
	top: 8px;
}
#nav.active > .opener span:nth-child(3) {
	left: -50%;
	opacity: 0;
}
#nav.active > .opener span:nth-child(4) {
	left: 100%;
	opacity: 0;
}
#nav.active > .opener span:nth-child(5) {
	left: 4px;
	top: 17px;
}
#nav.active > .opener span:nth-child(6) {
	left: calc(50% - 5px);
	top: 17px;
}
@-webkit-keyframes spinAround {
	from {-webkit-transform: rotate(0deg)}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinAround {
	from {-moz-transform: rotate(0deg)}
	to {-moz-transform: rotate(360deg);}
}
@keyframes spinAround {
	from {transform: rotate(0deg)}
	to {transform: rotate(360deg);}
}

#nav{
	float:left;
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:0 230px 0 0;
	margin:0 -230px 0 0;
}
#nav nav > ul{
	font-size:0;
	line-height:0;
	letter-spacing:-4px;
	margin:0;
	padding:0;
	list-style:none;
}
#nav nav > ul > li{
	display:inline-block;	vertical-align:top;
	letter-spacing:0;
	font-size:15px;
	line-height:18px;
	padding:0;
	background:none;
	position:relative;
}
#nav  nav > ul > li > a{
	position:relative;
	text-decoration:none;
	display:block;
	padding:20px 5px;
	color:#2e2d2d;
	z-index:2;
	text-align:center;
	min-width:114px;
}
#nav nav > ul > li > a:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:#e0dfde;
	height:0;
	width:100%;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
#nav nav > ul > li > a:hover:before,
#nav nav > ul > li.active > a:before,
#nav nav > ul > li:hover > a:before{
	height:100%;
	border:2px solid #da210c;
	border-width:2px 0 0;
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
#nav nav > ul > li ul{
	overflow:hidden;
	width:150px;
	z-index:200;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position:absolute;
	top:100%;
	left:50%;
	border-radius:0 0 10px 10px;
	margin:0 0 0 -75px;
	padding:0;
	list-style:none;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	background:#fff;
	box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);	-webkit-box-shadow:1px 1px 5px  rgba(0, 0, 0, 0.2);}
#nav nav > ul > li ul li{
	display:block;
	background:none;
	padding:0;
	position:relative;
	font-size:12px;
	line-height:14px;
	text-align:center;
}
#nav nav > ul > li ul ul{top:0;left:-100%;}
#nav nav > ul > li > ul a,
#nav nav > ul > li > ul li:hover li a{
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	text-decoration:none;
	display:block;
	text-decoration:none;
	color:#3e3e3e;
	padding:10px 6px 11px;
	background:#fff;
}
#nav nav > ul > li > ul a.hover,
#nav nav > ul > li > ul li:hover a,
#nav nav > ul > li > ul li li:hover a{color:#2e2d2d;background:#eaeaea;}
#nav nav > ul > li:hover > ul,
#nav nav > ul > li > ul li:hover ul{
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.function-block{
	float:right;
	width:230px;
}
.account-box{
	background:#353535;
	color:#fff;
	border-radius:0 0 15px 15px;
	margin:0 0 -23px;
	padding:0 3px 0 7px;
	float:right;
	overflow:hidden;
	list-style:none;
	width:182px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.account-box li{
	float:left;
	text-align:center;
	background:none;
	width:50%;
	padding:33px 5px 15px;
	text-align:center;
	position:relative;
	font-size:11px;
	line-height:16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.account-box li a:hover{text-decoration:none;}
.account-box li a{
	text-decoration:underline;
	color:#fff;
}
.account-box li:after{
	position:absolute;
	top:9px;
	margin:0 0 0 -17px;
	left:50px;
	width:20px;
	height:20px;
	content:"";
	background:url(../images/sprite.png) no-repeat;
}
.account-box li.basket:after{
	width:21px;
	margin:2px 0 0 -17px;
	height:18px;
	background-position:-22px 0;
}
.account-box li.basket{font-weight:300;}
.account-box li.basket strong{font-weight:500;font-size:12px;}
.account-box li span{display:block;}















.intro{
	text-align:center;
	overflow:hidden;
	width:100%;
	height:505px;
	margin-top:58px;
	position:relative;
}
.intro img{
	width:auto;
	height:100%;
	margin:0 -500px;
	max-height:100%;
	display:inline-block;	vertical-align:middle;
}
.intro.fix{margin-top:58px;}
.logo-box{
	position:absolute;
	top:50%;
	left:50%;
	margin:-149px 0 0 -149px;
}
.logo{
	width:296px;
	height:296px;
	text-indent:-9999px;	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
	display:block;
	margin:0 auto;
	position:relative;
	z-index:2;
}
.logo a{
	display:block;
	height:100%;
}
.logo-box .row{
	text-align:left;
	color:#fff;
	position:absolute;
	left:0;
	margin:-25px 0 0 -152px;
	top:50%;
}
.logo-box .row.second{
	right:0;
	left:auto;
	text-align:left;
	margin:-25px -219px 0 0;
}
.logo-box .row.second span{padding-left:25px !important;}
.logo-box .row span:first-child{
	text-transform:uppercase;
	font-weight:500;
	font-size:28px;
	padding:7px 15px 9px;
	line-height:30px;
	border:2px solid rgba(255, 255, 255, 0.4);
	border-width:2px 0;
}
.logo-box .row > span > strong{font-weight:700;font-size:18px;}
.logo-box .row > span{
	font-weight:300;
	display:block;
	padding:13px 15px 9px;
	font-size:16px;
	line-height:20px;
}
#main{padding:46px 0 0;overflow:hidden;}
#content{overflow:hidden;}
h1,
.h1{
	padding:0 0 12px;
	display:block;
	margin:0 0 25px;
	overflow:hidden;
	font-size:30px;
	line-height:32px;
	color:#83af22;
	font-weight:normal;
	border-bottom:1px solid #d6d6d6;
}
#content img{width:auto;height:auto;max-width:100%;max-height:100%;}
img[align="right"]{
	vertical-align:top;
	float:right;
	margin:5px 0 20px 15px;
}
img[align="left"]{
	vertical-align:top;
	text-align:left;
	margin:5px 15px 20px 0;
}
p{margin:0 0 22px;}
h2,
.h2{
	display:block;
	font-weight:500;
	font-size:24px;
	color:#353535;
	line-height:26px;
	margin:0 0 23px;
}
ul{
	margin:0 0 11px;
	padding:0;
	list-style:none;
}
ul li{
	padding:0 0 23px 30px;
	background:url(../images/bullet.png) no-repeat 0 3px;
}
table{
	width:100%;
	margin:0 0 32px;
	font-size:14px;
	line-height:18px;
	border-collapse:collapse;
	font-weight:300;
}
table th{
	background:#ebebeb;
	font-weight:500;
	color:#353535;
	line-height:16px;
	font-weight:500;
	border:1px solid #c2c2c2;
	border-width:1px 0;
	width:auto;
	text-align:left;
	text-transform:uppercase;
	max-width:20%;
	padding:18px 13px 16px;
}
table tr th:first-child,
table tr td:first-child{
	max-width:190px;
	width:auto;
	text-align:left;
	padding-left:24px;
	line-height:16px;
	font-weight:500;
	color:#353535;
}
table td{
	padding:9px 13px 11px;
	border:1px solid #eaeaea;
	border-width:1px 0;
	font-weight:300;
}
#content table{table-layout: fixed;}
#content table td,
#content table th{word-wrap:break-word;}
h3,
.h3{
	display:block;
	font-size:18px;
	line-height:20px;
	margin:0 0 20px;
	color:#83af22;
	font-weight:bold;
}
ol{
	overflow:hidden;
	list-style:none;
	margin:0 0 27px;
	overflow:hidden;
	padding:0;
	counter-reset:section;
}
ol li:after{
	clear:both;
	display:block;
	content:"";
}
ol li {
	counter-increment:section;
	height:1%;
	padding:6px 0 0;
	margin:0 0 13px 50px;
}
ol li:before {
	float:left;
	text-align:center;
	width:35px;
	font-size:15px;
	line-height:26px;
	border-radius:10px;
	height:35px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	content: counter(section);
	margin:-5px 0 0 -50px;
	padding:3px 0 0 1px;
	color:#353535;
	border:2px solid #70a927;
}
.heading-section{
	text-transform:uppercase;
	font-weight:300;
	color:#353535;
	font-size:24px;
	line-height:26px;
	margin:0 0 20px;
}
.post-conrainer{position:relative;}
.post-box:first-child{padding-top:0;border-top:0;}
.post-box{
	padding:20px 0;
	border-top:1px solid #d6d6d6;
}
.post-box .picture{overflow:hidden;text-align:center;float:left;width:37.9%;}
.post-box .picture img{
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	display:inline-block;
	vertical-align:top;
}
.post-box .picture:hover img{
	-webkit-transform:scale(1.3) translateZ(0);
	-moz-transform:scale(1.3) translateZ(0);
	-o-transform:scale(1.3) translateZ(0);
	transform:scale(1.3) translateZ(0);
}
.post-box .text{
	line-height:24px;
	overflow:hidden;
	padding:5px 0 0 30px;
}
.post-box .text .title{
	font-weight:bold;
	font-size:20px;
	line-height:24px;
	display:block;
	padding:0 0 14px;
	margin:0 0 10px;
	border-bottom:1px solid #d6d6d6;
}
.post-box .text .title a{text-decoration:none;color:#353535;}
.post-box .text .title a:hover{color:#83af22;}
.post-box .text .date{
	display:block;
	position:relative;
	padding:0 0 0 28px;
	font-weight:normal;
	margin:0 0 13px;
	color:#b6b6b6;
	font-style:normal;
}
.post-box .text .date:after{
	position:absolute;
	top:4px;
	left:1px;
	width:17px;
	height:15px;
	content:"";
	background:url(../images/sprite.png) no-repeat -48px 0;
}
.post-box .text p{margin:0 0 20px;}
.post-box .text .button{
	display:block;
	width:100%;
	text-transform:uppercase;
	max-width:134px;
	padding:5px 5px 6px;
	background:#e0dfde;
	color:#858585;
	font-size:11px;
	text-decoration:none;
	text-align:center;
}
.post-box .text .button:hover{color:#fff;background:#83af22;}
.pagination-post {
	border-top:1px solid #d6d6d6;
	padding:24px 0 34px;
	overflow:hidden;
}
.pagination-post ul{
	float:right;
	text-align:right;
	font-size:0;
	line-height:0;
	letter-spacing:-4px;
	margin:0 0 0 10px;
}
.pagination-post li{
	letter-spacing:0;
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 2px;
	width:35px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:35px;
	border:2px solid rgba(152, 152, 152, 0.0);
	border-radius:50%;
	font-size:12px;
	line-height:13px;
	padding:9px 5px 10px;
	text-align:center;
}
.pagination-post li.active,
.pagination-post a:hover{
	background:#353535;
	border-color:#353535;
	color:#fff;
}
.pagination-post a{
	width:35px;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background;
	transition-property: color, background;
	display:block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:35px;
	border:2px solid rgba(152, 152, 152, 0.4);
	background:#fff;
	color:#353535;
	border-radius:50%;
	text-decoration:none;
	padding:9px 5px 10px;
	margin:-11px -7px -12px;
}
.heading-line{
	display:block;
	color:#83af22;
	font-size:16px;
	line-height:18px;
	margin:-8px 0 17px;
	border-bottom:1px solid #d6d6d6;
	padding:0 0 15px;
}
.comment-conrainer{overflow:hidden;margin:0 0 58px;}
.post-comment{
	overflow:hidden;
	padding:0 0 10px;
}
.post-comment .picture{
	overflow:hidden;
	text-align:center;
	width:139px;
	float:left;
	height:139px;
	border-radius:50%;
}
.post-comment .picture img{vertical-align:top;}
.post-comment .text{
	overflow:hidden;
	font-size:13px;
	line-height:18px;
	padding:11px 0 0 34px;
}
.post-comment .text .title{
	display:block;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	margin:0 0 12px;
}
.post-comment .text p{margin:0 0 10px;}
.post-comment .text .date{
	display:block;
	font-style:normal;
	color:#a4a4a4;
	font-size:12px;
}
.post-comment .text .date span{font-weight:bold;}
.add-comment {margin:-24px 0 30px ;}
.add-comment .heading-section{
	text-transform:none;
	font-size:22px;
	display:block;
	margin:0 0 26px;
	padding:0 0 11px;
	border-bottom:1px solid #d6d6d6;
}
.add-comment .form{
	margin:0;
	max-width:583px;
}
.add-comment .form .row input[type="button"].small, .add-comment .form .row input[type="submit"].small{
	font-size:16px;
	font-weight:300;
	margin:0;
	width:199px;
	height:45px;
}
/* hide original element */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom file input */
.file-area .jcf-input-wrapper {
	font-weight:300;
	position: relative;
	overflow: hidden;
	float: left;
}
.file-area .jcf-upload-button {
	border: 0;
	text-decoration:none;
	text-align:center;
	width:73px;
	padding: 4px 5px 9px;
	background: #e0dfdd;
	color: #353535;
	float: left;
	height: 19px;
}
.file-area .jcf-fake-input em{font-style:normal;}
.file-area .jcf-fake-input {
	padding: 4px 15px 4px 0;
	float: left;
	color:#353535;
	width: 200px;
	height: 24px;
}
.file-disabled .jcf-upload-button:hover {
	background-color: #83af22;
	color: #fff;
}
.basket-heading{
	display:block;
	text-transform:uppercase;
	font-weight:bold;
	margin:0 0 12px;
	font-size:18px;
	line-height:20px;
}
#content table{table-layout: fixed;}
#content table td,
#content table th{word-wrap:break-word;}
.basket-table{
	width:100%;
	color:#353535;
	margin:0 0 21px;
	border-collapse:collapse;
}
.basket-table th,
.basket-table tr th:first-child,
.basket-table tr th:last-child{
	background:#f3f3f3;
	font-weight:500;
	font-size:15px;
	line-height:17px;
	text-transform:none;
	color:#353535;
	padding:12px 5px 15px;
	text-align:center;
	border-color:#d6d6d6;
}
.basket-table th.col1{padding-left:180px !important;text-align:left !important;}
.basket-table .col1{overflow:hidden;}
.basket-table .col2{width:90px;}
.basket-table .col3{width:14%;}
.basket-table .col5{width:55px;}
.basket-table td .mobile{display:none;}
.basket-table td{
	border-color:#d6d6d6;
	padding:10px 5px 10px 5px;
	text-align:center;
}
.basket-table td.col1{
	padding-left:0;
	white-space:nowrap;
	letter-spacing:-4px;
	font-size:0;
	line-height:0;
}
.basket-table td.col1 > *{white-space:normal;}
.basket-table .picture:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	 margin:0 0 0 -5px;
	vertical-align:middle;
}
.basket-table .picture img{display:inline-block;vertical-align:middle;}
.basket-table .picture{
	width:149px;
	height:149px;
	display:inline-block;	vertical-align:middle;
	border:1px solid #ddd;
}
.basket-table .text{
	width:60%;
	letter-spacing:0;
	font-size:13px;
	line-height:16px;
	display:inline-block;	vertical-align:middle;
	padding-left:27px;
}
.basket-table td p{margin:0 0 11px;}
.basket-table td .code{
	display:block;
	color:#adadad;
	font-size:12px;
}
.basket-table .text .title{
	font-weight:bold;
	display:block;
	margin:0 0 5px;
	font-size:18px;
	line-height:20px;
}
.basket-table td.col2 input{
	width:100%;
	font-size:18px;
	max-width:63px;
	text-align:center;
	background:none;
	border:1px solid #ddd;
	height:39px;
	padding:5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.basket-table td.col3{
	font-weight:900;
	font-size:30px;
	line-height:32px;
}
.basket-table td.col3 > span{font-weight:normal;font-size:21px;}
.basket-table .del:hover{
	-webkit-animation:  spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}
.basket-table .del{
	display:block;
	text-align:left;
	text-indent:-9999px;	overflow:hidden;
	margin:0 auto;
	width:17px;
	height:17px;
	position:relative;
	background:url(../images/sprite.png) no-repeat -32px -22px;
}
.price-row{
	color:#353535;
	margin:0 0 15px;
	overflow:hidden;
	text-align:right;
	line-height:46px;
}
.price-row .price{
	font-weight:900;
	font-size:44px;
	padding:0 0 0 5px;
}
.price-row .price span{font-weight:normal;font-size:31px;}
.price-row .button-green{
	max-width:312px;
	float:right;
	margin:10px 0 50px;
}
.button-green{
	display:block;
	width:100%;
	padding:20px 5px;
	height:64px;
	background:#83af22;
	font-size:24px;
	line-height:26px;
	font-weight:300;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	opacity:1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-decoration:none;
}
.button-green:hover{opacity:0.7}
.order-form{
	overflow:hidden;
	margin:0 0 75px !important;
	max-width:1200px !important;
}
.order-form .form-box{margin:0 0 35px;overflow:hidden;}
.order-form .title-form{
	display:block;
	padding:0 0 12px;
	font-size:18px;
	line-height:20px;
	margin:0 0 20px;
	border-bottom:1px solid #d6d6d6;
	text-transform:uppercase;
	font-weight:bold;
}
.order-form .form-holder{
	letter-spacing:-4px;
	font-size:0;
	line-height:0;
	max-width:586px;
}
.order-form .form-holder .row .error-text{font-size:12px;}
.order-form .form-holder .row{
	padding:0 10px 0 0;
	width:50%;
	display:inline-block;	vertical-align:top;
	letter-spacing:0;
	font-size:14px;
	line-height:22px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.order-form .form-holder .row-radio:first-child{border-width:1px;}
.order-form .form-holder .row-radio{
	overflow:hidden;
	border:1px solid #d1d4db;
	border-width:0 1px 1px;
	font-size:14px;
	line-height:17px;
	letter-spacing:0;
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:12px 12px 13px;
}
.order-form .form-holder .row-radio input{float:left;width:16px;height:16px;margin:0 10px 0 0;}
.order-form .form-holder .row-radio label{
	overflow:hidden;
	display:block;
}
/* custom radio styles */
.rad-area {
	border: 1px solid #d3d6dd;
	border-radius: 50%;
	margin: 0 15px 0 0;
	float: left;
	width: 16px;
	height: 16px;
	position:relative;
}
.rad-area span{
	border-radius: 50%;
	position:absolute;
	width:8px;
	height:8px;
	background:#fff;
	margin:-4px 0 0 -4px;
	top:50%;
	left:50%;
	text-indent:-9999px;	overflow:hidden;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
.rad-checked.rad-area span{background:#da210c;}
.rad-disabled {background: #eee;}
.order-form .form-holder .button-green{
	overflow:hidden;
	border:0;
	float:right;
	cursor:pointer;
	max-width:312px;
	height:64px;
	padding:0 5px 4px;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
.order-form .prev:after{
	position:absolute;
	top:5px;
	left:0;
	width:26px;
	height:20px;
	content:"";
	background:url(../images/sprite.png) no-repeat -68px 0;
}
.order-form .prev:hover{text-decoration:underline;}
.order-form .prev{
	color:#353535;
	width:215px;
	float:left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position:relative;
	text-decoration:none;
	padding:7px 0 0 36px;
	margin:21px 5px 10px 0;
	text-transform:uppercase;
	font-size:14px;
	line-height:16px;
	letter-spacing:1px;
}
.contact-columns{
	overflow:hidden;
	margin:0 0 40px;
}
.contact-columns .col:first-child{width:41%;}
.contact-columns .col{
	float:left;
	width:59%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.contact-columns .col .title-contact{
	display: block;
	padding: 0 0 12px;
	font-size: 24px;
	line-height: 26px;
	margin: 0 0 28px;
	border-bottom: 1px solid #d6d6d6;
	font-weight: normal;
}
.contact-columns .row-contact{
	display:block;
	font-weight:300;
	margin:0 0 23px;
	position:relative;
	padding:2px 0 0 38px;
}
.contact-columns .row-contact:after{
	position:absolute;
	top:3px;
	left:0;
	content:"";
	background:url(../images/sprite.png) no-repeat;
}
.contact-columns .row-contact.address:after{
	width:15px;
	height:21px;
	background-position:-85px -22px;
	top:6px;
	left:3px;
}
.contact-columns .row-contact.phone:after{
	width:21px;
	height:21px;
	background-position:-61px -22px;
}
.contact-columns .row-contact.email:after{
	width:21px;
	height:19px;
	background-position:-32px -41px;
}
.contact-columns .row-contact a{color:#353535;text-decoration:none;}
.contact-columns .row-contact a:hover{text-decoration:underline;}
.social-list{
	font-size:0;
	line-height:0;
	margin:0 0 20px;
	text-align:left;
	padding:15px 0 0;
	letter-spacing:-4px;
}
.social-list li{
	display:inline-block;	vertical-align:top;
	padding:0 8px 8px 0;
	background:none;
	letter-spacing:0;
	font-size:12px;
	line-height:14px;
}
.social-list a{
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	display:block;
	opacity:0.5;
	background:url(../images/sprite.png) no-repeat;
	width:32px;
	height:32px;
	text-indent:-9999px;	overflow:hidden;
}
.social-list a:hover{
	-webkit-transform: scale(0.8) rotate(360deg);
	-moz-transform: scale(0.8) rotate(360deg);
	-o-transform: scale(0.8) rotate(360deg);
	transform: scale(0.8) rotate(360deg);
	opacity:1;
}
.social-list .facebook{background-position:0 -62px;}
.social-list .vk{background-position:-33px -62px;}
.social-list .twitter{background-position:-68px -46px;}
.social-list .in{background-position:-68px -80px;}
.contact-columns .form-contact{
	margin:0;
	overflow:hidden;
	max-width:900px;
}
.contact-columns .form-contact .row-form{
	overflow:hidden;
	margin:0 -5px;
}
.contact-columns .form-contact .col-form{
	width:53%;
	padding:0 5px;
	float:left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.contact-columns .form-contact .col-form:first-child{width:47%;}
.contact-columns .form-contact .row input[type="button"],
.contact-columns .form-contact .row input[type="submit"]{
	margin:0;
	height:76px;
	font-weight:300;
	font-size:24px;
	line-height:27px;
}
#map{
	overflow:hidden;
	text-align:center;
	height:633px;
}
#map iframe{width:100% !important;}
#map img{height:100% !important;}
#sidebar{
	float:left;
	width:262px;
	padding:0 18px 20px 0;
}
.sidebar-box{margin:0 0 33px;}
.sidebar-title{
	font-weight:bold;
	position:relative;
	display:block;
	text-transform:uppercase;
	font-size:18px;
	line-height:20px;
	padding:0 0 19px 23px;
}
.sidebar-title:after{
	position:absolute;
	top:6px;
	left:0;
	width:8px;
	height:8px;
	content:"";
	background:url(../images/sprite.png) no-repeat -51px -18px;
}
.main-nav .opener{display:none;text-decoration:none;}
.main-nav{position:relative;}
.main-nav ul{
	margin:0;
	padding:0;
}
.main-nav .holder > ul > li{
	padding:0;
	background:none;
}
.main-nav .holder > ul > li:first-child > a{border-width:1px 0;}
.main-nav .holder > ul > li > a{
	background:#fff;
	border:1px solid #d6d6d6;
	border-width:0 0 1px;
	display:block;
	padding:10px 5px 11px 23px;
	color:#353535;
	font-size:16px;
	line-height:18px;
	font-weight:300;
	text-decoration:none;
}
.main-nav .holder > ul > li.active > a{font-weight:500;}
.main-nav .holder > ul > li.active > a,
.main-nav .holder > ul > li > a:hover{background:#f3f3f3;}
.main-nav .holder > ul > li.active > ul{border-bottom:1px solid #d6d6d6;}
.main-nav .holder > ul ul{
	padding:12px 0 14px 24px;
	margin:0;
}
.main-nav .holder > ul ul li{
	padding:7px 0;
	background:none;
	font-size:14px;
	line-height:16px;
}
.main-nav .holder > ul ul a{
	display:block;
	text-decoration:none;
	position:relative;
	font-weight:300;
	color:#353535;
	padding:0 0 0 20px;
}
.main-nav .holder > ul ul a:hover{
	text-decoration:underline;
	font-weight:500;
}
.main-nav .holder > ul ul a:after{
	width:7px;
	height:6px;
	top:5px;
	left:0;
	position:absolute;
	content:"";
	background:url(../images/sprite.png) no-repeat -51px -31px;
}
.main-nav .holder .close{
	display:none;
	position:absolute;
	top:3px;
	right:3px;
	z-index:2;
	text-indent:-9999px;	overflow:hidden;
	width:30px;
	height:30px;
	background:url(../images/sprite.png) no-repeat 0 -22px;
	cursor:pointer;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
.main-nav .holder .close:hover{
	cursor:pointer;
	-webkit-animation:  spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}





.title-catalog,
.main-nav .opener{
	display: block;
	padding: 0 0 18px;
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 10px;
	border-bottom: 1px solid #d6d6d6;
	text-transform: uppercase;
	font-weight: bold;
}
.title-catalog span{
	color:#b5b5b5;
	font-size:16px;
	font-weight:300;
	text-transform:none;
	padding-left:5px;
}
.sort-box{
	overflow:hidden;
	margin: 0 0 21px;
	border-bottom: 1px solid #d6d6d6;
	padding: 0 0 6px;
}
.sort-box > span{
	text-transform:uppercase;
	float:left;
}
.sort-box > select,
.sort-box > .select-area{display:none;}
.sort-box > ul{
	overflow:hidden;
	margin:0;
	padding:0;
}
.sort-box > ul > li{
	float:left;
	background:none;
	padding:0 0 5px 4.8%;
}
.sort-box > ul .active,
.sort-box > ul .active a,
.sort-box > ul li a:hover{color:#83af22;}
.sort-box > ul a{color:#353535;}
/* custom select styles */
.select-area {
	position: relative;
	cursor: default;
	height: 26px;
	float: left;
}
.select-area .center {
	display:block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 15px 0 0;
	overflow:hidden;
	height:22px;
	font-size:12px;
}
.select-disabled {background: #eee;}
.select-area.select-active .select-opener{
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.select-area .select-opener {
	position:absolute;
	top:8px;
	right:0;
	height:8px;
	width:  13px;
	-o-transition: transform .5s ease-in-out;
	-ms-transition: transform .5s ease-in-out;
	-moz-transition: transform .5s ease-in-out;
	-webkit-transition: transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
	background:url(../images/sprite.png) no-repeat -55px -46px;
}
.select-options {
	position: absolute;
	overflow: hidden;
	background: #fff;
	z-index: 2000;
}
.select-options .drop-holder {
	border: 1px solid #ddd;
	overflow: hidden;
	height: 1%;
}
.select-options ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size:12px;
}
.select-options ul li {
	width: 100%;
	float: left;
	padding:0;
	background:none;
}
.select-options ul a {
	text-decoration:underline;
	padding: 2px 5px;
	display: block;
	cursor: default;
	color: #353535;
	height: 1%;
}
.select-options .item-selected a {
	text-decoration: none;
	color: #83af22;
}
.promo-container{
	text-align:center;
	line-height:0;
	font-size:0;
	margin:0 -9px 10px;
	letter-spacing:-4px;
}
.promo-container .promo{
	width:33.3%;
	padding:0 9px 15px;
}
.promo{
	padding:0 0 20px;
	display:inline-block;	vertical-align:top;
	width:100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align:center;
	font-size:16px;
	line-height:22px;
	letter-spacing:0;
}
.promo .picture:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.promo .picture{
	white-space:nowrap;
	height:261px;
	width:100%;
	overflow:hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position:relative;
	border:1px solid #ddd;
}
.promo img{
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	display:inline-block;
	vertical-align:middle;
}
.promo .picture:hover img{
	-webkit-transform:scale(1.3) translateZ(0);
	-moz-transform:scale(1.3) translateZ(0);
	-o-transform:scale(1.3) translateZ(0);
	transform:scale(1.3) translateZ(0);
}
.promo .text > span{display:block;}
.promo .text{padding:8px 0 0;}
.promo .text .title{margin:0 0 3px;}
.promo .text .title a{text-decoration:none;color:#353535;}
.promo .text .title a:hover{color:#83af22;text-decoration:underline;}
.promo .text-row{
	margin:0 0 5px;
	color:#adadad;
	font-size:12px;
	line-height:14px;
}
.promo .price{
	display:block;
	font-weight:900;
	font-size:20px;
}
.promo .price span{font-weight:normal;font-size:14px;}
.product-container{
	overflow:hidden;
	margin:0 0 57px;
}
.product-gallery{
	float:left;
	width:345px;
	position:relative;
}
.product-gallery-slide{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:345px;
	height:345px;
	border:1px solid #ddd;
	overflow:hidden;
	position:relative;
}
.product-gallery-slide .slide{
	float:left;
	width:343px;
	height:343px;
	text-align:center;
	position:relative;
}
.product-gallery-slide .slide:after,
.product-pagination-gallery .slide .holder:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.product-gallery-slide .slide img,
.product-pagination-gallery .slide img{
	display:inline-block;
	vertical-align:middle;
	max-height:100%;
	max-width:100%;
	width:auto;
	height:auto;
	z-index:5;
}
.product-gallery-slide .product-gallery-slide-holder{
	position:relative;
	z-index:1;
	overflow:hidden;
	height:343px;
	width:343px;
}
.product-pagination-gallery{
	margin:9px 0 0;
	padding:0 27px;
	height:94px;
	position:relative;
	overflow:hidden;
}
#content .product-pagination-gallery .slide img{max-width:90%}
.product-pagination-gallery .slide{
	float:left;
	width:94px;
	height:94px;
	text-align:center;
}
.product-pagination-gallery .slide .holder{
	border:1px solid #ddd;
	float:right;
	margin:4px;
	height:88px;
	overflow:hidden;
	display:block;
	cursor:pointer;
}
.product-pagination-gallery .slick-prev{left:0;}
.product-pagination-gallery .slick-next{right:0;}
.product-pagination-gallery .slick-prev:hover,
.product-pagination-gallery .slick-next:hover{opacity:1;}
.product-pagination-gallery .slick-prev,
.product-pagination-gallery .slick-next{
	text-indent:-9999px;
	overflow:hidden;
	width:27px;
	height:21px;
	background:url(../images/sprite.png) no-repeat -25px -96px;
	opacity:0.7;
	float:left;
	border:0;
	margin:-10px 0 0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.product-pagination-gallery .slick-next{background-position:-25px -119px;}
.product-pagination-gallery .slide img{
	opacity:0.5;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.product-pagination-gallery .slide.active img,
.product-pagination-gallery .slide a:hover img,
.product-pagination-gallery .slide:hover img,
.product-pagination-gallery .slide.slick-current img{opacity:1;}
.slick-slide img{
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.slick-dots{
	display:none;
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
	letter-spacing:-4px;
	text-align:center;
}
.slick-dots li{
	display:inline-block;	vertical-align:top;
	padding:3px;
	background:none;
	font-size:12px;
	line-height:14px;
	letter-spacing:0;
}
.slick-dots li  span{
	position:relative;
	display:block;
	outline:none;
	cursor:pointer;
	height:10px;
	width:10px;
	border-radius:50%;
	background:#d6d6d6;
	border:2px solid #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	text-indent:-9999px;	overflow:hidden;
}
.slick-dots li > span:hover,
.slick-dots li.slick-active > span{
	border-color:#83af22;
	background:#83af22;
}
.product-container .text{
	overflow:hidden;
	padding:5px 0 0 34px;
}
.product-container .text .text-box:first-child{padding-top:0;border-top:0;}
.product-container .text .text-box{
	overflow:hidden;
	font-size:13px;
	line-height:18px;
	padding:18px 0 0;
	border-top:1px solid #d6d6d6;
}
.product-container .text .text-box > *{display:block;}
.product-container .text .title{
	margin:0 0 10px;
	font-weight:bold;
	font-size:24px;
	line-height:26px;
}
.product-container .text .text-row{
	font-size:16px;
	line-height:18px;
	margin:0 0 15px;
	color:#83af22;
}
.product-container .text .code{
	color:#adadad;
	font-size:12px;
	line-height:14px;
	margin:0 0 16px;
}
.product-container .text p{margin:0 0 20px;}
.product-container .text .stock{
	color:#83af22;
	font-size:16px;
	font-weight:500;
	line-height:18px;
	margin:-2px 0 10px;
}
.product-container .text .price{
	font-weight:900;
	font-size:36px;
	line-height:38px;
	margin:0 0 7px;
}
.product-container .text  .price > span{font-weight:normal;font-size:25px;}
.product-container .text .amount{overflow:hidden;margin:0 0 16px;}
.product-container .text .amount > *{float:left;}
.product-container .text .amount span{
	font-size:14px;
	line-height:18px;
	padding:11px 10px 0 0;
}
.product-container .text .amount input{
	width: 100%;
	font-size: 14px;
	max-width: 112px;
	text-align: center;
	background: none;
	border: 1px solid #ddd;
	height: 40px;
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.product-container .text .button-green{
	width:254px;
	margin:4px 0 0;
	height:64px;
	padding-top:23px;
	font-weight:bold;
	font-size:18px;
	line-height:20px;
}
.content-box{overflow:hidden;}
.content-box .title-content{
	display:block;
	font-weight:300;
	padding: 0 0 10px;
	margin: 0 0 24px;
	overflow: hidden;
	font-size: 22px;
	line-height: 24px;
	border-bottom: 1px solid #d6d6d6;
}
.content-box .post-comment .picture{
	width:98px;
	height:98px;
}
.content-box .post-comment .text{padding:3px 0 0 21px;}
.content-box .post-comment .text .title{font-size:15px;}
.content-box .post-comment{padding:0 0 23px;}
.content-box .link-all{
	display:block;
	text-align:right;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	border-top:1px solid #d6d6d6;
	padding:17px 0 0;
}
.content-box .comment-conrainer{margin:0 0 7px;}
.content-box .promo-container{margin-top:-9px;margin-bottom:20px;}
.content-home{
	text-align:center;
	overflow:hidden;
	font-size:14px;
	line-height:20px;
}
.content-home .title-content{
	display:block;
	position:relative;
	padding:0 0 10px;
	font-size:27px;
	line-height:30px;
	color:#83af22;
	margin:0 0 20px;
}
.content-home .title-content:after{
	position:absolute;
	bottom:0;
	height:1px;
	width:243px;
	background:#d6d6d6;
	content:"";
	left:50%;
	margin:0 0 0 -121px;
}
.content-home .small-box{max-width:557px;margin:0 auto 43px;}
.properties-columns{
	overflow:hidden;
	margin:0 auto 40px;
	max-width:850px;
	position:relative;
	font-size:13px;
	line-height:18px;
}
.properties-columns .col{
	float:left;
	width:50%;
	padding:15px 0 40px 170px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align:right;
}
.properties-columns .col:first-child{padding:15px 170px 40px 0;text-align:left;}
.properties-columns .col .row{
	margin:0 0 30px;
	line-height:17px;
}
.properties-columns .col p{margin:0;}
.properties-columns .col .title{
	display:block;
	padding:0 37px 0 0;
	position:relative;
	margin:0 0 16px;
	font-size:15px;
	font-weight:bold;
	line-height:18px;
}
.properties-columns .col .title:after{
	position:absolute;
	top:2px;
	right:0;
	width:24px;
	height:16px;
	content:"";
	background:url(../images/sprite.png) no-repeat;
}
.properties-columns .col .title.ico1:after{background-position:-104px 0;}
.properties-columns .col .title.ico2:after{background-position:-104px -18px;}
.properties-columns .col .title.ico3:after{background-position:-104px -38px;width:22px;height:24px;top:-2px;}
.properties-columns .col:first-child .title{padding-left:37px;padding-right:0;}
.properties-columns .col:first-child .title:after{right:auto;left:0;height:18px;top:0;}
.properties-columns .col:first-child .title.ico1:after{background-position:-104px -64px;top:2px;}
.properties-columns .col:first-child .title.ico2:after{background-position:-104px -84px;}
.properties-columns .col:first-child .title.ico3:after{background-position:-104px -105px;height:24px;}
.properties-columns .text-col span:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.properties-columns .text-col{
	text-align:center;
	position:absolute;
	top:0;
	left:50%;
	width:210px;
	font-size:14px;
	line-height:17px;
	color:#fff;
	bottom:0;
	margin:0 0 0 -105px;
}
.properties-columns .text-col span{
	position:relative;
	display:block;
	background: rgb(72,116,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(72,116,0,1) 0%, rgba(131,175,34,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(72,116,0,1) 0%,rgba(131,175,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(72,116,0,1) 0%,rgba(131,175,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#487400', endColorstr='#83af22',GradientType=0 ); /* IE6-9 */
	padding:34px 15px 80px;
}
.properties-columns .text-col img{
	width:321px !important;
	max-width:321px !important;
	display:block;
	position:relative;
	margin:-52px -59px 0;
}
.new-promo{
	overflow:visible;
	font-size:14px;
	font-weight:300;
	margin:95px 0 40px;
	color:#fff;
	background:url(../images/bg-text2.jpg) no-repeat 50% 0;
}
.new-promo .title-content{color:#fff;}
.new-promo  .picture-ico{margin:-80px auto 8px;}
.new-promo .list-promo{
	letter-spacing:-4px;
	font-size:0;
	line-height:0;
	text-align:center;
	margin:0;
	padding:0;
}
.new-promo .list-promo li{
	display:inline-block;	vertical-align:top;
	letter-spacing:0;
	font-size:12px;
	line-height:14px;
	letter-spacing:0;
	width:282px;
	padding:0 15px;
	background:none;
}
.new-promo .list-promo a:hover{
	margin-top:-8px;
	box-shadow:0 0 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 0 8px rgba(0, 0, 0, 0.5);
}
.new-promo .list-promo a{
	display:block;	overflow:hidden;
	color:#353535;
	text-decoration:none;
	text-align:center;
	background:#f5f5f5;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.3);	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
	margin-top:0;}
.new-promo .list-promo a .text > *{display:block;}
.new-promo .list-promo a .text{
	display:block;
	padding:15px;
}
.new-promo .list-promo a .text > strong{
	font-weight:bold;
	font-size:17px;
	line-height:20px;
	margin:0 0 10px;
}
.new-promo .list-promo a .text > span{
	font-size:14px;
	line-height:18px;
	padding:0 6%;
}
.content-home .comment-conrainer{
	letter-spacing:-4px;
	font-size:0;
	line-height:0;
	text-align:center;
}
.content-home .comment-conrainer .post-comment{
	display:inline-block;	vertical-align:top;
	width:210px;
	padding:0 20px 20px;
	letter-spacing:0;
	font-size:12px;
	line-height:14px;
}
.content-home .comment-conrainer .post-comment .picture{
	float:none;
	margin:0 auto 20px;
}
.content-home .comment-conrainer .post-comment .text{padding:0;}
.content-home .comment-conrainer .post-comment .text .title{
	font-size:14px;
	line-height:16px;
}
#footer{position:relative;}
.footer-holder{overflow:hidden;}
.footer-holder .footer-col{
	overflow:hidden;
	width:39%;
	padding:4.6% 2% 22px 4.8%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color:#fff;
	background: rgb(218,33,12); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(218,33,12,1) 0%, rgba(159,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(218,33,12,1) 0%,rgba(159,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(218,33,12,1) 0%,rgba(159,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da210c', endColorstr='#9f0000',GradientType=0 ); /* IE6-9 */
	font-size:14px;
	line-height:18px;
}
.footer-holder .footer-col .row{overflow:hidden;margin:0 0 16px;}
.add-logo{
	width:106px;
	height:106px;
	text-indent:-9999px;	overflow:hidden;
	float:left;
	background:url(../images/logo.png) no-repeat;
	background-size:100% 100%;
}
.add-logo a{
	height:100%;
	display:block;
}
.footer-holder .footer-col address{
	font-style:normal;
	overflow:hidden;
	display:block;
	font-weight:300;
	padding:9px 0 0 13px;
}
.footer-holder .footer-col address p{margin:0 0 10px;}
.footer-holder .footer-col address > span{display:block;}
.footer-holder .footer-col a{color:#fff;}
.footer-holder .footer-col address a{text-decoration:none;}
.footer-holder .footer-col address a:hover{text-decoration:underline;}
.footer-holder .footer-col address .phone{font-size:12px;line-height:19px;}
.footer-holder .footer-col address .phone span{font-size:24px;}
.footer-holder .footer-col .copyright{display:block;font-size:12px;font-weight:300;}
.footer-holder .footer-col .title{
	display:block;
	font-weight:normal;
	font-size:27px;
	line-height:30px;
	margin:0 0 8px;
}
.footer-holder .footer-col > p{margin:0 0 22px;min-height:56px;}
.footer-form{
	float:right;
	width:61%;
	padding:47px 7% 10px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background:#d3d2d0 url(../images/img3.jpg) no-repeat;
	background-size:cover;
}
.feedback-form{
	float:right;
	max-width:273px;
	width:100%;
}
.feedback-form p{
	margin:0 0 20px;
	font-weight:500;
	color:#353535;
	font-size:14px;
	line-height:17px;
}
.feedback-form .text{margin:0 0 7px;}
.feedback-form .text input,
.feedback-form .text textarea{
	background:#fff;
	outline:none;
	font-size:12px;
	padding:5px 5px 6px 30px;
	border:1px solid rgba(0, 0, 0, 0.3);
	height:28px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:100%;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
.basket-table td.col2 input,
.product-container .text .amount input{
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
.feedback-form .text input:focus,
.feedback-form .text textarea:focus,
.basket-table td.col2 input:focus,
.product-container .text .amount input:focus{border-color:rgba(0, 0, 0, 0.7);}
.feedback-form .text.error input,
.feedback-form .text.error textarea{border-color:rgba(255, 0, 0, 0.7);}
.feedback-form .text textarea{
	overflow-y:auto;
	margin:0;
	resize:none;
	max-width:100% !important;
	height:55px !important;
	max-height:55px !important;
}
.feedback-form .text input.txt_name{background:#fff url(../images/bg-text.png) no-repeat;}
.feedback-form .text input.txt_phone{background:#fff url(../images/bg-text.png) no-repeat 0 -34px;}
.feedback-form .text input.txt_email{background:#fff url(../images/bg-text.png) no-repeat 0 -67px;}
.feedback-form .text textarea.txt_text{background:#fff url(../images/bg-text.png) no-repeat 0 -106px;}
.feedback-form input[type="button"],
.feedback-form input[type="submit"]{
	display:block;
	border:0;
	padding:0 0 2px;
	background:#83af22;
	border-radius:15px;
	width:106px;
	height:26px;
	text-align:center;
	cursor:pointer;
	opacity:1;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	font-size:13px;
	line-height:14px;
	color:#fff;
	margin:18px 0 0;
}
.feedback-form input[type="button"]:hover,
.feedback-form input[type="submit"]:hover{opacity:0.7;}
.footer-nav{
	background:#d2d1d0;
	text-align:center;
}
.footer-nav ul{
	font-size:0;
	line-height:0;
	text-align:center;
	margin:0;
	padding:15px 15px 10px;
	list-style:none;
	letter-spacing:-4px;
}
.footer-nav li{
	font-size:13px;
	line-height:15px;
	letter-spacing:0;
	background:none;
	display:inline-block;	vertical-align:top;
	padding:5px 10px;
}
.footer-nav a{text-decoration:none;color:#636262;}
.footer-nav a:hover{color:#353535;}
.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}
div.lightbox{
	text-align:left;
	color:#6e6965;
	width:500px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position:relative;
	background:#fff;
	border-radius:5px;
	overflow:hidden;
	padding:50px 20px 40px;
}
#fancybox-content{background:none;}
#fancybox-close{
	width:30px;
	right:20px;
	top:20px;
	height:30px;
	background:url(../images/sprite.png) no-repeat 0 -22px;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
#fancybox-close:hover{
	-webkit-transform: scale(0.8) rotate(360deg);
	transform: scale(0.8) rotate(360deg);
}
.lightbox .title:after{
	position:absolute;
	bottom:0;
	left:50%;
	width:211px;
	height:1px;
	content:"";
	margin:0 0 0 -105px;
	background:#d6d6d6;
}
.lightbox .title{
	display:block;
	text-align:center;
	margin:0 0 24px;
	position:relative;
	text-transform:uppercase;
	font-weight:500;
	letter-spacing:1px;
	font-size:32px;
	padding:0 0 24px;
	line-height:35px;
	color:#353535;
}
.lightbox .small.title{
	text-transform:none;
	margin:0 0 6px;
	padding:25px 0 30px;
}
.lightbox .text-row{
	color:#353535;
	margin:0 0 7px;
	text-align:center;
	font-weight:300;
	font-size:18px;
	line-height:24px;
	display:block;
	padding:20px 5px;
}
.lightbox .small.button-green{
	height:57px;
	padding:17px 5px;
	font-weight:normal;
	max-width:310px;
	width:100%;
	margin:0 auto 35px;
	float:none;
	font-size:21px;
	line-height:26px;
}
.form{
	margin:0 auto;
	width:100%;
	max-width:364px;
}
.form .row{
	overflow:hidden;
	margin:0 0 10px;
	position:relative;
}
.form .row .input-placeholder-text{
	position:absolute;
	color:#353535;
	font-size:14px;
	line-height:16px;
	padding:14px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:45px;
	top:0;
	font-weight:300;
}
.form .row input,
.form .row textarea{
	width:100%;
	font-weight:300;
	color:#353535;
	font-size:14px;
	line-height:16px;
	padding:5px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:100%;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	border:1px solid #d1d4db;
	height:45px;
}
.form .row textarea{
	padding-top:15px;
	height:155px !important;
	max-height:155px !important;
	margin:0;
	overflow-y:auto;
	resize:none;
}
.form .row input:focus,
.form .row textarea:focus{border-color:#353535;}
.form .row.error input,
.form .row.error textarea{border-color:#da210c;}
.form .row .error-text{display:none;}
.form .row.error .error-text{
	display:block;
	font-weight:300;
	padding:5px 0 0 20px;
	color:#da210c;
	font-size:12px;
	line-height:14px;
}
.form .row input[type="button"]:hover,
.form .row input[type="submit"]:hover{opacity:0.7;}
.form .row input[type="button"],
.form .row input[type="submit"]{
	background:#83af22;
	border:0;
	opacity:1;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	font-weight:400;
	font-size:21px;
	line-height:24px;
	cursor:pointer;
	height:57px;
	margin:20px 0 0;
	display:block;
}
.form .row input[type="button"].small,
.form .row input[type="submit"].small{
	margin:20px auto 0;
	width:180px;
}
@media only screen and (max-width: 2024px){body{min-width:320px;}}
@media only screen and (max-width: 1120px){
	#main{padding:46px 10px 0;}
	#header.fix,
	#header{width:100%;margin:0;left:0;right:0;}
	#map{margin:0 -10px;}
	.home #content{overflow:visible;}
	.new-promo{margin-left:-10px;margin-right:-10px;}
}
@media only screen and (min-width: 1001px){
	#nav .js-slide-hidden{
		position:static !important;
		left:auto !important;
		top:auto !important;
	}
}
@media only screen and (max-width: 1020px){
	.sort-box > ul > li{padding-left:2.5%;}
}
@media only screen and (max-width: 1000px){
	#nav .opener{display:block;position:relative;}
	#nav{position:relative;padding:14px 230px 14px 13px;}
	#nav nav{width:160px;padding:0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;position: relative;position:absolute;top:100%;left:0;background:rgba(210, 209, 208, 1);}
	#nav nav > ul{padding:0;}
	#nav nav > ul > li{display:block;width:100%;}
	#nav nav > ul > li{font-size:13px;line-height:15px;}
	#nav nav > ul > li > a{padding:10px 5px;}
	.promo-container .promo .picture{height:200px;}
	.promo-container .promo .title{font-size:14px;line-height:18px;}
}
@media only screen and (max-width: 950px){
	.product-gallery{width:260px;}
	.product-gallery-slide,
	.product-gallery-slide .product-gallery-slide-holder,
	.product-gallery-slide .slide{width:260px;height:260px;}
	.new-promo .list-promo li{width:33%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
}
@media only screen and (max-width: 940px){
	.promo-container .promo{width:50%;}
	.sort-box > ul{display:none;}
	.sort-box > select{width:145px;}
	.sort-box > select, .sort-box > .select-area{display:block;margin-left:10px;}
}
@media only screen and (max-width: 860px){
	.footer-form{width:54%;padding:47px 4% 10px 0;background-position:36% 0}
	.footer-holder .footer-col{padding:4.6% 2% 22px 2%;width:46%;}
	.footer-holder .footer-col .title{font-size:24px;line-height:26px;}
	.logo{background-size:100% 100%;width:200px;height:200px;}
	.intro{height:400px;}
	.logo-box{margin:-100px 0 0 -100px;}
	.logo-box .row > span{font-size:14px;}
	.logo-box .row span:first-child{font-size:20px;line-height:23px;padding:8px 15px 6px;}
	.logo-box .row.second{margin-right:-170px;}
	.logo-box .row{margin-left:-145px;}
	.contact-columns .form-contact .row input[type="button"], .contact-columns .form-contact .row input[type="submit"]{height:58px;font-size:20px;}
}
@media only screen and (max-width: 800px){
	.basket-table .picture{width:110px;height:110px;}
	.basket-table th.col1{padding-left:130px !important;}
	.basket-table .text{padding-left:18px;}
	.basket-table .text .title{font-size:15px;line-height:17px;}
	.basket-table td.col3{font-size:26px;}
	.basket-table td.col3 > span{font-size:17px;}
	.basket-table .col5{width:30px;}
	.basket-table th, .basket-table tr th:first-child, .basket-table tr th:last-child{font-size:13px;}
	#map{height:500px;}
	.product-gallery{width:200px;}
	.product-gallery-slide, .product-gallery-slide .product-gallery-slide-holder, .product-gallery-slide .slide{width:200px;height:200px;}
	.product-container .text{padding-left:20px;}
	.product-pagination-gallery{height:auto;}
	.product-pagination-gallery .slick-list,
	.product-pagination-gallery .slick-arrow{display:none !important;}
	.properties-columns .col:first-child{padding-right:165px;}
	.properties-columns .col{padding-left:165px;}
	.content-home .comment-conrainer .post-comment{width:33%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
}
@media only screen and (max-width: 720px){
	#sidebar{float:none;width:100%;padding:0;}
	.sidebar-box{display:none;}
	.sidebar-box.nav{display:block;}
	.sidebar-box .open-nav:hover{cursor:pointer;}
	.sidebar-box .open-nav{cursor:pointer;display:block;font-size:16px;border-bottom:0;margin:-28px 0 20px;padding-bottom:0;padding-left:30px;color:#83af22;}
	.main-nav {background: #fff;position: fixed;bottom: 0;width: 320px;top: 0;}
	.main-nav .holder {padding: 0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;position: relative;height: 100%;width: 100%;overflow-y: auto;}
	.main-nav .holder .close{display:block;}
	.main-nav .holder > ul ul{padding:6px 8px 8px 16px;}
	.main-nav .holder > ul > li > a{padding:8px 33px 9px 10px;font-size:14px;line-height:16px;}
	.sidebar-box .open-nav:after{width:21px;height:15px;background-position:0 -99px;top:3px;}
}
@media only screen and (max-width: 670px){
	.basket-table th{display:none;}
	.basket-table tr{overflow:hidden;position:relative;padding:0 0 15px;border-bottom:1px solid #d6d6d6;margin-bottom:15px;display:block;}
	.basket-table td{display:block !important;width:33.3% !important;border:0;overflow:hidden;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding:0;float:left;}
	.basket-table td .mobile{display:block;font-size:17px !important;line-height:22px !important;font-weight:normal;margin:0 0 5px;}
	.basket-table tr td:first-child{max-width:900px;margin-bottom:25px;width:100% !important;float:none;}
	.basket-table td.col2 input{height:32px;}
	.basket-table td.col1{padding:0 20px 0 0;}
	.basket-table .col5{position:absolute;top:5px;right:5px;width:17px !important;overflow:visible;}
	.price-row .price{font-size:37px;}
	.price-row .price span{font-size:25px;}
	.price-row .button-green{font-size:21px;line-height:23px;height:54px;padding:15px 5px;}
	.contact-columns .col:first-child, .contact-columns .col{width:100%;}
	.contact-columns .contact-box{overflow:hidden;letter-spacing:-4px;font-size:0;line-height:0;}
	.contact-columns .contact-box > *{width:50%;display:inline-block;vertical-align:top;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding-right:5px;letter-spacing:0;font-size:14px;line-height:22px;}
	.contact-columns .contact-box > ul{padding-top:0;}
	#map{height:400px;}
	.properties-columns{font-size:11px;}
	.properties-columns .text-col img{width:245px !important;max-width:245px !important;margin:-52px -19px 0;}
	.properties-columns .col:first-child{padding-right:125px;}
	.properties-columns .col{padding-left:125px;}
	.properties-columns .col .title{margin:0 0 8px;font-size:14px;line-height:16px;}
	.properties-columns{margin-bottom:0;}

}
@media only screen and (max-width: 640px){
	table{font-size:11px;line-height:13px;}
	table tr th:first-child, table tr td:first-child{padding-left:15px;}
	table th{padding:13px 5px 11px;}
	table td{padding:6px 5px 8px;}
	.footer-form{width:100%;float:none;background-position:0 0;overflow:hidden;padding:27px 4% 10px 20px;}
	.footer-holder .footer-col{width:100%;float:none;overflow:hidden;padding:20px 2% 22px 2%;}
	img[align="right"], img[align="left"]{display:block;margin:0 auto 20px;float:none;}
	div.lightbox{width:400px;}
}
@media only screen and (max-width: 560px){
	.logo-box .row span:first-child{font-size:15px;}
	.logo-box .row > span > strong{font-size:13px;}
	.logo-box .row{margin-top:-16px;margin-left:-120px;}
	.logo-box .row.second{margin-right:-120px;}
	.post-box .picture{width:100%;margin:0 0 20px;float:none;}
	.post-box .text{padding-left:0;}
	.post-comment{padding-bottom:25px;}
	.heading-line{font-size:13px;line-height:17px;}
	.comment-conrainer{margin:0 0 20px;}
	.add-comment{margin-top:15px;}
	.order-form .form-holder .button-green{float:none;width:100%;max-width:800px;}
	#imageContainerMain{padding:0 20px;}
	#nextLinkImg{right:0;}
	#prevLinkImg{left:0;}
	#close{border-radius:50%;background-color:#353535;right:28px;z-index:3;}
	#close:hover{background-color:#83af22;}
	.properties-columns .text-col{top:80px;}
	.content-home .comment-conrainer .post-comment{padding:0 10px 20px;}
	.properties-columns .col:first-child{padding-right:0;padding-top:0;padding-bottom:0;}
	.properties-columns .col{padding-left:0;font-size:14px;line-height:17px;width:100%;float:none;padding-top:0;padding-bottom:0;}
	.properties-columns .text-col{position:relative;top:auto;left:auto;margin:0 auto;bottom:auto;float:none;clear:both;display:none;}
	.new-promo .list-promo li,
	.content-home .comment-conrainer .post-comment{width:50%;}
	.properties-columns .col .title{font-size:15px;margin:0 0 13px;}
	.properties-columns{margin:0 0 30px;}
	.new-promo .list-promo li{padding-bottom:15px;}
	.new-promo{background-size:auto 90%;}
}
@media only screen and (max-width: 500px){
	div.lightbox{width:320px;padding:28px 20px 10px;}
	.lightbox .title{font-size:25px;padding:0 0 6px;}
	.form .row input,
	.form .row .input-placeholder-text{font-size:13px;padding:5px 10px;height:34px;}
	.form .row input[type="button"], .lightbox-form .row input[type="submit"]{height:50px;font-size:17px;}
	.form .row textarea{height:123px !important;max-height:123px !important;padding:10px;font-size:13px;}
	#fancybox-close{right:9px;top:9px;}
	.order-form .form-holder .button-green{height:55px;font-size:20px;}
	.order-form .prev{font-size:13px;}
	.order-form .form-holder .row{width:100%;padding:0;}
	.order-form .form-holder .row-radio{font-size:13px;}
	.lightbox .small.title{padding:7px 0 13px;font-size:21px;}
	.lightbox .text-row{font-size:15px;line-height:21px;}
	.lightbox .small.button-green{height:50px;padding:12px 5px;font-size:16px;margin-bottom:20px;}
	.contact-columns .form-contact .row input[type="button"], .contact-columns .form-contact .row input[type="submit"]{font-size:17px;height:50px;}
	#map{height:300px;}
	.title-catalog span{padding-left:0;display:block;font-size:13px;line-height:15px;}
	.content-box{margin:0 0 20px;}
}
@media only screen and (max-width: 460px){
	body{font-size:13px;line-height:20px;}
	.logo-box .row{display:none;}
	h1, .h1{font-size:25px;line-height:27px;}
	h2, .h2{font-size:22px;line-height:24px;}
	h3, .h3{font-size:16px;line-height:18px;}
	.footer-form{padding:27px 10px 10px;background-position:100% 0;}
	.feedback-form{float:none;max-width:800px;}
	.account-box{padding:0;width:160px;}
	.intro{height:430px;}
	div.lightbox{width:270px;}
	#fancybox-wrap{width:270px !important;left:50% !important;margin:0 0 0 -145px;}
	.post-box .text{line-height:19px;}
	.post-comment .picture{float:none;margin:0 auto 20px;}
	.post-comment .text{padding-left:0;}
	.basket-table .picture{width:80px;height:80px;float:left;}
	.basket-table .text{display:block;overflow:hidden;width:auto;}
	.basket-table td .mobile{font-size:12px !important;line-height:17px !important;margin:0 0 2px;}
	.price-row .button-green{max-width:900px}
	.contact-columns .contact-box > *{width:100%;}
	.contact-columns .form-contact .col-form:first-child, .contact-columns .form-contact .col-form{padding:0;width:100%;float:none;}
	.contact-columns .form-contact .row-form{margin:0;}
	.contact-columns .row-contact{margin:0 0 15px;}
	.contact-columns .contact-box > ul{padding:15px 0 0;}
	.form .row textarea{height:100px !important;max-height:100px !important;}
	.promo-container .promo{width:100%;}
	.product-container .text,
	.content-box .post-comment .text{padding-left:0;}
	.product-container .text .button-green{width:100%;}
	.product-gallery{width:100%;float:none;margin:0 0 20px;}
	.product-gallery-slide, .product-gallery-slide .product-gallery-slide-holder, .product-gallery-slide .slide{width:100%;}
	.new-promo .list-promo li, .content-home .comment-conrainer .post-comment{width:100%;}
	#content .new-promo img{width:100% !important;max-height:200% !important;}
}