#overlay{
	position:fixed;
	top:0;
	left:0;
	z-index:210;
	width:100%;
	min-height:100%;
	bottom:0;
	background:#353535;
}
#lightbox{
	position:absolute;
	top:20px;
	left:0;
	width:100%;
	z-index:5000;
	text-align:center;
	color:#151410;
	line-height:0;
}
#lightbox a, #lightbox a:hover {
	border-bottom:none;
	color:#151410;
	text-decoration:underline;
}
#lightbox a img{ border:none; }
#outerImageContainer{
	width:auto;
	padding:0;
	height:auto;
	margin:0 auto;
	position:relative;
	display: inline-block;
}
#lightboxImage{
	width:100%;
	height:100%;
	border:8px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#imageContainerMain{
	z-index:2;
	margin:0 auto;
	overflow:visible;
	position:relative;
	font-size:0;
}
#imageContainer{
	width:10px;
	height:10px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	font-size:0;
}
#loading{
	position:absolute;
	top:40%;
	left:0%;
	height:25%;
	width:100%;
	text-align:center;
	font-size:10px;
	z-index:1;
}
#loadingLink {
	display:block;
	margin:0 auto;
	padding:0;
	width:32px;
	height:32px;
	text-indent:-9999px;
}
#hoverNav{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:10;
}
#imageContainer > #hoverNav{ left:0;}
#prevLinkImg:hover, #nextLinkImg:hover{background:#83af22;}
#prevLinkImg, #nextLinkImg{
	top:50%;
	width:48px;
	height:48px;
	position:absolute;
	z-index:20;
	outline-style:none;
	margin:-24px 0 0;
	display:none !important;
	text-indent:-9999px;
	background:#353535;
}
#imageContainerMain:hover #prevLinkImg,
#imageContainerMain:hover #nextLinkImg{display:block !important;}
#prevLinkImg { left: -8px; }
#nextLinkImg { right: -8px;}
#prevLinkImg:after,
#nextLinkImg:after{
	position:absolute;
	top:50%;
	left:50%;
	content:"";
	width:8px;
	height:16px;
	margin:-8px 0 0 -4px;
	background:url(../images/sprite.png) no-repeat 0 -116px;
}
#nextLinkImg:after{background-position:-10px -116px;}
#imageContainerMain{
	padding:0 40px;
}
#imageDataContainer{
	z-index:1;
	text-align:center;
	width:100% !important;
	margin:0;
}
#imageData{
	overflow:hidden;
}
#imageDetails{
	position:relative;
	overflow:hidden;
	text-align:left;
}
#caption{display:block;}
#numberDisplay{
	display:none;
	padding-right: 10px;
	position: absolute;
	left: 110px;
	bottom: 18px;
}
#detailsNav{display:none; float:left; margin:9px 0 0 9px; }
#prevLinkDetails, #nextLinkDetails, #slideShowControl{ background-repeat:no-repeat; outline-style:none; display:block; float:left;}
#prevLinkDetails { margin-top:4px; width:20px;height:21px; background:url(../images/v_prev.png) left center;}
#nextLinkDetails { margin-top:4px; width:20px;height:21px; background:url(../images/v_next.png) right center;}
#lightbox #caption{
	overflow:hidden;
	text-overflow:ellipsis;
	color:#fff;
	text-align:center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:10px 0 0;
	font-size:24px;
	line-height:26px;
	width:100%;
	font-weight:normal;
}
#lightbox #caption span{
	text-align:center;
	width:100%;
	display:block;
	color:#fff;
	font-size:27px;
	line-height:29px;
}
#slideShowControl.started{ background-position:left bottom;}
#slideShowControl{
	display:block;
	width:29px; 
	height:29px; 
	float:left;
	background:url(../images/v_next_x.png);	
	background-repeat:no-repeat;
}
@-webkit-keyframes spinAround {
	from {-webkit-transform: rotate(0deg)}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinAround {
	from {-moz-transform: rotate(0deg)}
	to {-moz-transform: rotate(360deg);}
}
@keyframes spinAround {
	from {transform: rotate(0deg)}
	to {transform: rotate(360deg);}
}
#close:hover{
	-webkit-animation:  spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}
#close{	
	z-index:5;
	position: absolute;
	right: -10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	top:10px;
	cursor:pointer;
	width:38px;
	height:38px;
	background:url(../images/sprite.png) no-repeat -62px -116px;
}
#closeLink {
	height:100%;
	display:block; outline-style:none; margin:0; padding:0; text-decoration:none; 
}
#outerImageContainer tr:last-child td{ display:none;}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
#outerImageFrame{
	border:solid 1px red;
	height:100%;
	width:100%;
	position:absolute;
}
#outerImageContainer{overflow:visible;}
#outerImageContainer td{
	text-align:center;
	padding:0;
	width:100%;
	background:none;
}
#outerImageContainer td, #outerImageContainer tr{
	font-size:0;
	border:0 none;
}
#outerImageContainer td.tl, #outerImageContainer td.br{
	height:0;
	width:0;
}
.vlb{display:none;}
#outerImageContainer td.tl,
#outerImageContainer td.tc,
#outerImageContainer td.ml,
#outerImageContainer td.mr,
#outerImageContainer td.bc,
#outerImageContainer td.tr,
#outerImageContainer td.bl,
#outerImageContainer td.br{
	background:none;
	display:none;
}