html, body{height:100%;}
body {
	margin:0;
	color:#484747;
	font:15px/20px "Roboto", Arial, Helvetica, sans-serif;
	background:#e7e7e7;
	min-width:1300px;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:none;
}
img {border-style:none;}
a {
	text-decoration:none;
	color:#158fe0;
	outline:none !important;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
a:hover {text-decoration:underline;}
a:active {background-color: transparent;}
input,
textarea,
select {
	font:100% "Roboto", Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
	outline:none !important;
	box-shadow:0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow:0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow:0 0 0 rgba(0, 0, 0, 0);
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
header, footer, article, section, nav, figure, aside { display: block; }
figure { margin:0; padding:0; }
::-moz-placeholder {
	color:#bdbdbd;
	opacity:1;
}
input::-webkit-input-placeholder {color:#898989;}
input::-ms-input-placeholder {color:#898989;}
input::-o-input-placeholder {color:#898989;}
input[type=submit]:hover{cursor:pointer;}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea{-webkit-appearance:none;}
textarea,
input[type=submit],
input[type=text]{-webkit-border-radius:0;}
#wrapper{
	overflow:hidden;
	position:relative;
	width:100%;
}
.wrapper-holder{
	margin:0 auto;
	max-width:1300px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#header{
	position:relative;
}
.header-box{
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:10;
}
.header-box .header-top{background:rgba(0, 0, 0, 0.5);}
.header-box .header-top .wrapper-holder{
	overflow:hidden;
	padding:13px 50px 21px;
}
.logo{
	position:relative;
	z-index:2;
	float:left;
	width:228px;
	height:64px;
	text-indent:-9999px;	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
}
.logo a{
	display:block;
	height:100%;
}
.phone-box:after{
	position:absolute;
	top:6px;
	right:0;
	width:57px;
	height:53px;
	content:"";
	background:url(../images/sprite.png) no-repeat;
}
.phone-box{
	padding:11px 69px 0 0;
	text-align:right;
	position:relative;
}
.phone-box > span{
	color:#919191;
	display:block;
	font-weight:300;
	font-size:16px;
	line-height:18px;
}
.phone-box .phone{
	text-align:right;
	color:#fff;
	line-height:30px;
	font-size:17px;
	font-weight:500;
	overflow:hidden;
	padding:2px 0 0;
}
.phone-box .phone .big{
	font-size:25px;
	font-weight:bold;
	padding:0 0 0 2.5%;
}
.phone-box .phone > span{
	float:right;
	padding:2px 0 0 17px;
}
.phone-box .phone .small span{font-weight:100;}
.opener-nav,
.close-nav{display:none;}
.button-nav > span{
	position:relative;
	float:left;
	background:none;
	width:38px;
	height:30px;
	margin:23px 15px 0 0;
}
.close-nav > span{margin:0;}
.button-nav:hover{cursor:pointer;}
.button-nav span span {
	display: block;
	position: absolute;
	height: 4px;
	width: 50%;
	background: #fff;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.button-nav span span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}
.button-nav span span:nth-child(odd) {
	left:0px;
	border-radius: 9px 0 0 9px;
}
.button-nav span span:nth-child(1), .button-nav span span:nth-child(2) {top: 0px;}
.button-nav span span:nth-child(3), .button-nav span span:nth-child(4) {top: 11px;}
.button-nav span span:nth-child(5), .button-nav span span:nth-child(6) {top: 22px;}
.button-nav:hover span span:nth-child(1), .button-nav:hover span span:nth-child(6),
.close-nav span span:nth-child(1), .close-nav span span:nth-child(6){
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.button-nav:hover span span:nth-child(2), .button-nav:hover span span:nth-child(5),
.close-nav span span:nth-child(2), .close-nav span span:nth-child(5){
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.button-nav:hover span span:nth-child(1),
.close-nav span span:nth-child(1){
	left: 4px;
	top: 8px;
}
.button-nav:hover span span:nth-child(2),
.close-nav span span:nth-child(2){
	left: calc(50% - 5px);
	top: 8px;
}
.button-nav:hover span span:nth-child(3),
.close-nav span span:nth-child(3){
	left: -50%;
	opacity: 0;
}
.button-nav:hover span span:nth-child(4),
.close-nav span span:nth-child(4){
	left: 100%;
	opacity: 0;
}
.opener-nav:hover span span:nth-child(5),
.close-nav span span:nth-child(5){
	left: 4px;
	top: 18px;
}
.opener-nav:hover span span:nth-child(6),
.close-nav span span:nth-child(6){
	left: calc(50% - 5px);
	top: 18px;
}
.close-nav{
	position:absolute;
	top:10px;
	right:10px;
}
#nav{
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	background:rgba(0, 0, 0, 0.2);
}
.fix #nav{
	position:fixed;
	top:0;
	left:0;
	right:0;
	background:rgba(0, 0, 0, 0.7);
}
#nav .wrapper-holder{
	overflow:hidden;
	padding:0 0 0 33px;
	list-style:none;
}
#nav .wrapper-holder li{
	float:left;
	padding:0 17px;
	background:none;
}
#nav .wrapper-holder a{
	display:block;
	color:#fff;
	font-weight:300;
	font-size:16px;
	padding:17px 0 15px;
	line-height:18px;
	text-decoration:none;
	text-transform:uppercase;
	border-bottom:2px solid rgba(255, 255, 255, 0.0);
}
#nav .wrapper-holder a:hover,
#nav .wrapper-holder .active{border-color:rgba(255, 255, 255, 0.2);cursor:pointer;}
.jarallax .wrapper-holder{
	white-space:nowrap;
	height:513px;
	padding:0 50px;
}
.jarallax .wrapper-holder:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.heading{
	padding:118px 0 0;
	max-width:600px;
	white-space:normal;
	position:relative;
	display:inline-block;	vertical-align:middle;
	font-weight:100;
	font-size:39px;
	line-height:48px;
	color:#fff;
}
.jarallax{
	height:513px;
	position:relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.section{
	position:relative;
	padding:56px 0 0;
	margin:0 0 -35px;
}
.section-title{
	display:block;
	font-weight:bold;
	font-size:33px;
	line-height:38px;
	position:relative;
	text-transform:uppercase;
	color:#484747;
	margin:0 0 30px;
	padding:0 0 18px;
	text-align:center;
}
.section-title:after{
	position:absolute;
	bottom:0;
	height:2px;
	width:160px;
	background:#0073ae;
	left:50%;
	margin:0 0 0 -80px;
	content:"";
}
.section-title span{
	text-transform:none;
	display:block;
	font-weight:300;
	font-size:30px;
}
.section-box:after{
	clear:both;
	display:block;
	content:"";
}
.section-box{
	margin:0 0 51px;
	background:#fff;
	box-shadow:0 0 14px rgba(0, 0, 0, 0.15);	-webkit-box-shadow:0 0 14px rgba(0, 0, 0, 0.15);}
.promo-text .second-section-box{margin-top:-40px;}
.promo-text .section-box{
	background:#f3f3f3;
	padding:50px;
}
.section-box .title,
.section-box .title-second{
	display:block;
	margin:0 0 21px;
	font-weight:bold;
	font-size:24px;
	line-height:30px;
}
.section-box .title-second{
	font-size:20px;
	line-height:22px;
	margin:0 0 19px;
}
.section-box ul{
	margin:0 0 12px;
	padding:0;
	list-style:none;
}
.section-box ul li{
	padding:0 0 20px 22px;
	background:url(../images/bullet.png) no-repeat 0 6px;
}
.section-box .promo-list{
	font-size:0;
	line-height:0;
	text-align:center;
	overflow:hidden;
	margin:0;
	padding:40px 7.5% 45px;
	letter-spacing:-4px;
}
.section-box .promo-list li{
	background:none;
	letter-spacing:0;
	display:inline-block;	vertical-align:top;
	width:25%;
	padding:0 10px 21px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size:16px;
	line-height:19px;
}
.section-box .promo-list li a{
	text-decoration:none;
	display:block;
	color:#484747;
}
.promo-list li span{display:block;}
.promo-list li .picture{
	height:238px;
	padding:0 0 16px;
	position:relative;
}
.promo-list li .picture:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.promo-list li .picture img{
	display:inline-block;	vertical-align:middle;
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
}
table{
	width:100%;
	margin:0 0 15px;
	border-collapse:collapse;
}
table td{
	width:50%;
	padding:6px 0 9px 10px;
	border:1px solid #d6d6d6;
	border-width:1px 0;
}
/* Slider */
.slick-slider{
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus{outline: none;}
.slick-list.dragging{
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track{
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-track:before,
.slick-track:after{
	display: table;
	content: '';
}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {display: none;}
.gallery-box{
	float:left;
	width:468px;
	padding:0 50px 0 0;
}
.gallery-box .sf-cell a{
	display:block;
	width:100%;
	height:100%;
	position:relative;
	outline:none;
}
.gallery-box .sf-cell:after,
.gallery-box .sf-cell a:after,
.gallery-box .slider-nav .sn-cell:after{
	content:'';
	display:inline-block;
	height:100%;
	width:1px;
	overflow:hidden;
	margin:0 0 0 -5px;
	vertical-align:middle;
}
.gallery-box .sf-cell img,
.gallery-box .slider-nav .sn-cell img{
	display:inline-block;	vertical-align:middle;
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	outline:none;
}
.gallery-box .sf-cell,
.gallery-box .slider-nav .sn-cell{
	position:relative;
	height:468px;
	background:#fff;
	text-align:center;
	width:100%;
	border:1px solid #d6d6d6;
}
.gallery-box .slider-for{
	overflow:hidden;
	margin:0 0 10px;
}
.gallery-box .slider-nav{margin:0 -4px -10px -5px;}
.gallery-box .slider-nav .sn-cell{
	width:150px;
	height:150px;
	float:left;
	margin:0 4px 10px 5px;
}
.gallery-box .slider-nav .sn-cell .video{
	position:absolute;
	top:0;
	bottom:0;
	text-indent:-9999px;	overflow:hidden;
	right:0;
	left:0;
	background:rgba(34, 32, 30, 0.5);
}
.gallery-box .slider-nav .sn-cell .video:after{
	position:absolute;
	top:50%;
	left:50%;
	width:74px;
	height:74px;
	content:"";
	background:url(../images/sprite.png) no-repeat -76px 0;
	margin:-37px 0 0 -37px;
}
.gallery-box .slider-nav .slick-track{
	width:100% !important;
	height:auto !important;
	-webkit-transform: translate3d(0, 0, 0) !important;
	-moz-transform: translate3d(0, 0, 0) !important;
	-ms-transform: translate3d(0, 0, 0) !important;
	-o-transform: translate3d(0, 0, 0) !important;
	transform: translate3d(0, 0, 0) !important;
}
.promo-text .section-box .holder{overflow:hidden;}
.info-box{
	margin:-5px 0 0;
	padding:42px 10% 70px;
	line-height:24px;
	background:url(../images/bg-info.jpg) no-repeat 50% 0;
	background-size:cover;
	color:#fff;
	overflow:hidden;
	text-align:center;
	font-weight:300;
	font-size:16px;
}
.info-box p{margin:0 0 24px;}
.info-box .section-title{
	color:#fff;
	font-size:36px;
	line-height:38px;
}
.info-box .section-title:after{
	background:rgba(255, 255, 255, 0.2);
	width:94px;
	margin-left:-47px;
}
.info-box.text{
	margin:0 0 40px;
	padding:43px 15px 40px;
	background:url(../images/bg-info2.jpg) no-repeat 50% 0;
	background-size:cover;
	letter-spacing:-4px;
	font-size:0;
	line-height:0;
}
.info-box.text > *{
	display:inline-block;	vertical-align:middle;
	letter-spacing:0;
	font-size:20px;
	line-height:24px;
}
.info-box.text .title{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:27%;
	text-transform:uppercase;
	text-align:right;
	font-weight:bold;
	font-size:36px;
	line-height:44px;
	padding:0 50px 0 0;
}
.info-box.text ul{
	text-align:left;
	margin:0;
	padding:0;
	list-style:none;
}
.info-box.text ul li{
	font-weight:normal;
	padding:0 0 5px 25px;
	background:url(../images/bullet.png) no-repeat 0 6px;
}
.box-services{
	padding:23px 50px 0;
	font-size:0;
	line-height:0;
	letter-spacing:-4px;
	overflow:hidden;
}
.box-services .servic.double{width:100%;}
.box-services .servic{
	width:50%;
	font-weight:300;
	letter-spacing:0;
	display:inline-block;	vertical-align:top;
	font-size:15px;
	line-height:22px;
	padding:0 0 35px;
	overflow:hidden;
}
.box-services .servic .text{overflow:hidden;padding:0 5px 0 0;}
.box-services .servic .picture img{
	display:inline-block;	vertical-align:top;
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
}
.box-services .servic .picture{
	float:left;
	width:133px;
	padding:2px 23px 0 0;
}
.box-services .servic p{margin:0;}
.box-services .servic .title-text{
	font-weight:bold;
	display:block;
	font-size:20px;
	line-height:24px;
	margin:0 0 8px;
}
.red-box{
	background:rgba(218, 17, 24, 0.65);
	padding:43px 0;
}
.jarallax .red-box .wrapper-holder{
	display:block;
	height:auto;
	font-size:0;
	line-height:0;
	text-align:center;
	letter-spacing:-4px;
}
.red-box .wrapper-holder > *{
	display:inline-block;	vertical-align:middle;
	letter-spacing:0;
	font-size:12px;
	line-height:14px;
	color:#fff;
}
.red-box .wrapper-holder span.text{
	padding:0 15px 0 0;
	font-weight:normal;
	font-size:24px;
	line-height:26px;
}
.item_add_minus{
	position:relative;
	display:inline-block;	vertical-align:middle;
	margin:0 3px 0 0;
	background:rgba(255, 255, 255, 0.3);
	width:84px;
	height:48px;
}
.item_add_minus input{
	display:block;
	background:none;
	padding:0 25px 0 10px;
	width:100%;
	height:100%;
	border:0;
	margin:0;
	text-align:center;
	font-weight:bold;
	color:#fff;
	font-size:30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height:32px;
}
.item_add_minus > a{
	text-indent:-9999px;	overflow:hidden;
	position:absolute;
	top:0;
	right:0;
	width:25px;
	height:24px;
}
.item_add_minus .minus{
	top:auto;
	bottom:0;
}
.item_add_minus a:after{
	position:absolute;
	bottom:2px;
	left:2px;
	width:9px;
	height:4px;
	content:"";
	background:url(../images/sprite.png) no-repeat -58px 0;
}
.item_add_minus .minus:after{
	bottom:auto;
	top:2px;
	background-position:-58px -5px;
}
.red-box .row-box{
	width:364px;
	height:48px;
	position:relative;
}
.red-box .row-box input[type="text"]{
	border:0;
	color:#fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:100%;
	height:100%;
	background:rgba(255, 255, 255, 0.3);
	font-size:14px;
	line-height:16px;
	font-weight:300;
	padding:5px 150px 5px 15px;
}
.red-box .row-box input[type="button"],
.red-box .row-box input[type="submit"]{
	height:100%;
	width:146px;
	text-align:center;
	color:#fff;
	border:0;
	text-transform:uppercase;
	font-weight:500;
	font-size:14px;
	line-height:16px;
	background:#0073ae;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	
}






.columns-contact{
	font-size:0;
	line-height:0;
	letter-spacing:-4px;
	padding:47px 8%;
}
.columns-contact .col{
	display:inline-block;	vertical-align:top;
	width:50%;
	color:#989898;
	font-size:16px;
	line-height:24px;
	letter-spacing:0;
	padding:0 20px;
	overflow:hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.columns-contact .col .section-title{
	display:block;
	text-align:left;
	font-size:33px;
	line-height:35px;
	color:#fff;
	text-transform:none;
	padding:0 0 16px;
	margin:0 0 27px;
}
.columns-contact .col .section-title:after{
	left:0;
	margin:0;
	width:94px;
	background:rgba(255, 255, 255, 0.2);
}
.columns-contact .col .holder{
	overflow:hidden;
	padding:0;
	letter-spacing:-4px;
	font-size:0;
	line-height:0;
}
.columns-contact .col .holder > *{
	white-space:normal;
	display:inline-block;	vertical-align:middle;
	letter-spacing:0;
	font-size:16px;
	line-height:24px;
}
.columns-contact .col .holder .text{white-space:normal;padding:4px 0 0 32px;}
.columns-contact .col .picture{
	overflow:hidden;
	width:150px;
	height:150px;
	border-radius:50%;
}
.columns-contact .col .picture img{
	display:inline-block;	vertical-align:top;
	margin:0;
	width:auto;
	height:auto;
	max-height:100%;
	max-width:100%;
}
.columns-contact .col .text > *{
	display:block;
	margin:0;
}
.columns-contact .col .text dl{
	overflow:hidden;
	margin:0;
}
.columns-contact .col .text dt{
	float:left;
	clear:left;
	padding:0 9px 0 0;
}
.columns-contact .col .text dd{
	overflow:hidden;
	margin:0;
	color:#fff;
}
.columns-contact .col .text a{margin-left:3px;color:#989898;}
.columns-contact .col .text dd span{display:block;}
.columns-contact .col address{font-style:normal;}
.phone-block{
	text-align:center;
	font-size:30px;
	line-height:32px;
	font-weight:bold;
	color:#fff;
}
.phone-block > *{display:block;}
.phone-block span:first-child{
	font-size:15px;
	line-height:18px;
	color:#989898;
	font-weight:300;
	position:relative;
	margin:0 0 3px;
}
.phone-block span:first-child:before{
	display:inline-block;	vertical-align:middle;
	content:"";
	margin:0 7px 0 0;
	width:40px;
	height:38px;
	background:url(../images/sprite.png) no-repeat -27px -53px;
}
#footer section{margin:0;}
#footer .jarallax{height:603px;}
.ask-box:hover{right:0;text-decoration:none;}
.ask-box{
	position:fixed;
	top:45%;
	right:-10px;
	padding:14px 37px 39px 6px;
	border-radius:20px 20px 0 0;
	background:#b11118;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
	font-size:18px;
	line-height:20px;
	text-align:center;
	width:180px;
	color:#fff;
	margin:0 -95px 0 0;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.ask-box:after{
	width:24px;
	height:27px;
	position:absolute;
	top:12px;
	right:17px;
	background:url(../images/sprite.png) no-repeat 0 -54px;
	content:"";
}
.callback *{display:block;}
.callback {
	border-radius:50%;
	position:fixed;
	bottom:30px;
	right:50%;
	margin:0 -800px 0 0;
	background:#0073ae;
	width:82px;
	height:82px;
	z-index: 9999;
	cursor:pointer;
}
.callback:before {
	position:absolute;
	background:url(../images/sprite.png) no-repeat -101px -77px;
	top:50%;
	left:50%;
	content:"";
	margin:-25px 0 0 -25px;
	width:49px;
	height:49px;
	z-index: 11;
}
.callback:hover:before {animation: 1.5s linear 0s normal none infinite running callback_anim;}
.callback:hover .callback_b, .callback:hover .callback_a {background-color: #0073ae; border-color: #0073ae;}
.callback .callback_block {height: 82px; position: absolute; width: 82px;}
.callback .callback_a {
	-webkit-animation: callback 3s linear 0s infinite; 
	-moz-animation: callback 3s linear 0s infinite; 
	animation: callback 3s linear 0s infinite; 
}
.callback .callback_b {
	-webkit-animation: callback 1.5s linear 0s infinite; 
	-moz-animation: callback 1.5s linear 0s infinite; 
	animation: callback 1.5s linear 0s infinite;
}
.callback .callback_a,
.callback .callback_b{
	border: 12px solid #0073ae; border-radius: 50% !important; bottom: -24px;top:-24px;left:-24px; right: -24px; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; opacity: 0.01; position: absolute; ;
}
@keyframes callback {
0% {opacity: 0.8; transform: rotate(0deg) scale(0.46) skew(1deg);}
10% {transform: rotate(0deg) scale(0.56) skew(1deg);}
100% {opacity: 0.01; transform: rotate(0deg) scale(1) skew(1deg);}
}
@-webkit-keyframes callback {
0% {opacity: 0.8; transform: rotate(0deg) scale(0.46) skew(1deg);}
10% {transform: rotate(0deg) scale(0.56) skew(1deg);}
100% {opacity: 0.01; transform: rotate(0deg) scale(1) skew(1deg);}
}
@-moz-keyframes callback {
0% {opacity: 0.8; transform: rotate(0deg) scale(0.46) skew(1deg);}
10% {transform: rotate(0deg) scale(0.56) skew(1deg);}
100% {opacity: 0.01; transform: rotate(0deg) scale(1) skew(1deg);}
}
@keyframes callback_anim {
0% {transform: scale3d(1, 1, 1);}
10%, 20% {transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
30%, 50%, 70%, 90% {transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);}
40%, 60%, 80% {transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);}
100% {transform: scale3d(1, 1, 1);}
}
@keyframes callback_anim {
0% {transform: scale3d(1, 1, 1);}
10%, 20% {transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
30%, 50%, 70%, 90% {transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);}
40%, 60%, 80% {transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);}
100% {transform: scale3d(1, 1, 1);}
}
.red-box select{
	display:inline-block;	vertical-align:middle;
	width:100%;
}
.select{
	margin:0 0 0 -3px;
	width:130px;
	display:inline-block;	vertical-align:middle;
}
/* hide original element */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom select styles */
.select-area {
	width:100% !important;
	font-size:14px;
	line-height:16px;
	display:inline-block;	vertical-align:middle;
	position: relative;
	cursor: default;
	height: 25px;
	float: left;
}
.select-area .center {
	display:block;
	position:relative;
	padding: 5px 10px 0;
}
.select-area .center:after{
	display:inline-block;	vertical-align:middle;
	width:9px;
	height:4px;
	margin:0 0 0 5px;
	content:"";
	background:url(../images/sprite.png) no-repeat -58px -11px;
}
.select-disabled {background: #eee;}
/*
.select-area .select-opener {
	position: relative;
	background: url(../images/spriet.png) no-repeat;
	float: right;
	height: 25px;
	width: 15px;
}

*/.select-options {
	position: absolute;
	overflow: hidden;
	background: #fff;
	z-index: 2000;
}
.select-options .drop-holder {
	border: 1px solid #0075c4;
	overflow: hidden;
	height: 1%;
}
.select-options ul {
	list-style: none;
	font-size:13px;
	line-height:16px;
	padding: 0;
	margin: 0;
}
.select-options ul li {
	width: 100%;
	float: left;
}
.select-options ul a {
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	cursor: default;
	color: #0075c4;
	height: 1%;
}
.select-options .item-selected a {
	text-decoration: none;
	background: #0075c4;
	color: #fff;
}


@media only screen and (max-width: 2024px){body{min-width:320px;}}
@media only screen and (max-width: 1634px){
	.callback{margin:0;right:20px;}
}
@media only screen and (max-width: 1100px){
	.section-box .promo-list{padding:40px 10px 45px;}
	.jarallax .wrapper-holder{padding:0 20px;}
	.header-box .header-top .wrapper-holder{padding:13px 20px 21px;}
	#nav .wrapper-holder{padding:0 0 0 3px;}
	.promo-text .section-box{padding:20px;}
	.wrapper-holder{padding:0 5px;}
	.info-box.text .title{width:45%;}
	.info-box.text ul{width:55%;}
	.box-services{padding:23px 0 0;}
	.columns-contact{padding:47px 0;}
}
@media only screen and (max-width: 990px){
	.red-box .wrapper-holder span.text{display:block;text-align:center;margin:0 0 5px;}
}
@media only screen and (max-width: 930px){
	.phone-box .phone > span.small{display:none;}
	.phone-box .phone > span.mobile{display:block;}
	.ask-box{top:35%;}
	.section-box .promo-list li{font-size:14px;line-height:16px;}
	.gallery-box{width:340px;padding:0 30px 0 0;}
	.gallery-box .sf-cell, .gallery-box .slider-nav .sn-cell{height:333px;overflow:hidden;}
	.gallery-box .slider-nav .sn-cell{width:104px;height:104px;overflow:hidden;}
	.gallery-box .slider-nav{margin:0 -7px -10px;}
	.info-box.text > *{font-size:18px;line-height:22px;}
	.box-services .servic .picture{width:105px;padding:0 15px 0 0;}
	.columns-contact .col .section-title{font-size:29px;line-height:31px;}
	.info-box{font-size:15px;line-height:19px;padding:42px 20px 19px;}
}
@media only screen and (max-width: 860px){
	#nav .wrapper-holder a{font-size:14px;line-height:18px;padding:12px 0 10px;}
	#nav .wrapper-holder li{padding:0 13px;}
	.section-title{font-size:28px;line-height:32px;margin:0 0 20px;}
	.section-box .promo-list li{width:33.3%;}
	.promo-text .section-box .holder{overflow:visible;}
	.promo-text .section-box .holder > *{overflow:hidden;}
	.info-box.text .title{font-size:29px;line-height:37px;}
	.info-box.text > *{font-size:14px;line-height:16px;}
	.box-services .servic .title-text{font-size:17px;line-height:20px;}
	.box-services .servic{font-size:14px;line-height:18px;}
	#footer .jarallax .wrapper-holder{padding:0;}
	.columns-contact .col .picture{text-align:center;width:120px;height:120px;}
	.columns-contact .col .holder .text{padding-left:10px;}
	.columns-contact .col .holder > *{font-size:14px;line-height:20px;}
	.columns-contact .col .section-title{font-size:26px;line-height:26px;}
	.phone-block{font-size:27px;line-height:29px;}
	.callback,
	.callback .callback_block{width:60px;height:60px;}
	.callback:before {background-position:0 -91px;width:33px;height:33px;margin:-16px 0 0 -16px;}
	.ask-box{font-size:15px;padding:12px 29px 32px 11px;width:175px;}
}
@media only screen and (max-width: 720px){
	.phone-box .phone > span{float:none;padding-top:0;}
	.phone-box .phone .big{font-size:24px;line-height:24px;}
	.phone-box > span{font-size:13px;line-height:15px;}
	.logo{background-size:100% 100%;width:170px;height:47px;margin:5px 0 0;}
	.header-box .header-top .wrapper-holder{padding:13px 10px 21px;}
	.heading{font-size:33px;line-height:39px;}
	.promo-list li .picture{height:180px;}
	.header-box .phone-box{overflow:hidden;padding:5px 50px 0 0;}
	.header-box .phone-box:after {width:40px;height:38px;background-position:-27px -53px}
	.header-box .phone-box .phone .big{font-size:20px;}
	.header-box .phone-box .phone{padding:0;font-size:14px;line-height:20px;}
	.opener-nav, .close-nav{display:block;}
	#nav{background:rgba(0, 0, 0, 0.9);z-index:3000;}
	#nav .wrapper-holder li{display:block;float:none;}
	#nav .wrapper-holder a{font-size:16px;line-height:20px;padding:10px 0;}
	.header-box{z-index:auto;}
	#header .jarallax{z-index:-1;}
	#nav .wrapper-holder{padding:17px 49px 0 13px;}
}
@media only screen and (max-width: 700px){
	#footer .jarallax{height:520px;}
	.columns-contact .col .picture{width:90px;height:90px;}
	.columns-contact .col .section-title{font-size:22px;padding:0 0 10px;margin:0 0 20px;}
}
@media only screen and (max-width: 650px){
	.red-box .row-box{display:block;margin:3px auto 0;}
	.columns-contact .col .picture{display:none;}.columns-contact .col{padding:0 10px;}
}
@media only screen and (max-width: 600px){
	.gallery-box{padding:0;float:none;margin:0 auto 20px;}
	.info-box.text .title{width:100%;display:block;padding:0;text-align:center;margin:0 0 10px;}
	.info-box.text ul{display:block;width:100%;}
	.box-services .servic{width:100%;}
}
@media only screen and (max-width: 550px){
	#footer .jarallax{height:720px;}
	.columns-contact .col{margin:0 0 20px;display:block;width:100%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
	.columns-contact .col .picture{display:block;float:left;}
	.columns-contact{padding:20px 0 10px;}
	.section-box .promo-list li{width:50%;}
	.section-title span{font-size:23px;}
	table{font-size:13px;line-height:16px;overflow:visible;}
	.info-box{font-size:14px;line-height:17px;}
	.info-box p{margin:0 0 15px;}
	.columns-contact .col .holder .text{display:block;overflow:hidden;}
	.jarallax .red-box .wrapper-holder{white-space:normal;}
	.red-box .wrapper-holder span.text{padding:0 0 5px;}
}
@media only screen and (max-width: 479px){
	.promo-text .section-box{padding:15px;}
	.logo{float:none;margin:0 auto 5px;display:block;}
	.opener-nav{position:absolute;top:10px;left:10px;}
	.header-box .phone-box{padding:0;text-align:center;}
	.header-box .phone-box .phone{text-align:center;}
	.opener-nav > span{margin:0;}
	.heading{font-size:28px;line-height:29px;}
	.header-box .phone-box:after{background:none;}
	.section-box .promo-list li{width:100%;}
	.gallery-box{width:280px;}
	.gallery-box .sf-cell, .gallery-box .slider-nav .sn-cell{height:280px;}
	.gallery-box .slider-nav .sn-cell{width:84px;height:84px;}
	.gallery-box .slider-nav .sn-cell .video:after {background-position:-38px -91px;width:57px;height:57px;margin:-28px 0 0 -28px;}
	.section-box .title, .section-box .title-second{font-size:22px;line-height:26px;}
	.box-services .servic .picture{width:75px;}
	.columns-contact .col .picture{display:none;}
	.columns-contact .col .section-title{margin-bottom:5px;}
	.red-box .row-box{width:300px;}
	.red-box .row-box input[type="button"], .red-box .row-box input[type="submit"]{width:120px;}
	.red-box .row-box input[type="text"]{padding-right:125px;}
	.columns-contact{padding:25px 0 0;}
	.ask-box{width:135px;text-align:left;-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);top:auto;right:auto;left:5px;bottom:-10px;padding:7px 23px 16px 13px;font-size:14px;}
	.ask-box:hover{bottom:-5px;right:auto;}
	.ask-box:after {top:5px;right:13px;}
	.callback{right:5px;bottom:5px;}
}